<link rel='stylesheet' href='/static/css/home.css' />
<link
  rel='shortcut icon'
  href='assets/images/shirt-black.svg'
  type='image/x-icon'
/>
<link
  rel='stylesheet'
  href='https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css'
  integrity='sha512-HXXR0l2yMwHDrDyxJbrMD9eLvPe3z3qL3PPeozNTsiHJEENxx8DH2CxmV05iwG0dwoz5n4gQZQyYLUNt1Wdgfg=='
  crossorigin='anonymous'
  referrerpolicy='no-referrer'
/>
<section class='header'>
  <a href='/home' class='brand'><i class='ri-t-shirt-2-fill'></i>
    VerveStyles</a>
  <div class='menu-btn'></div>
  <nav class='navigation'>
    <div class='navigation-items'>
      <a class='nav-item active' href='/home'>Home</a>
      <a class='nav-item' href='/allitems'>Products</a>
      <a class='nav-item' href='/admin'>Admin</a>
      <a class='nav-item' href='#'>Support</a>
      <a class='nav-item' href='#'>About</a>

      <div class='nav-icons'>
        <a class='nav-icon' href='/cart'><i
            class='ri-shopping-cart-2-fill'
          ></i></a>
      </div>
    </div>
  </nav>
</section>