<link rel="stylesheet" href="static/css/cart.css">
<div class='cart-wrapper'>
{{>header}}
    <div class="cart">
  <div class="small-container cart-page">
  <table>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>

    
    <tr>
      <td>
        <div class="cart-info">
          <img src="https://img.freepik.com/free-photo/simple-black-t-shirt-worn-by-man_53876-102772.jpg?w=740&t=st=1709377799~exp=1709378399~hmac=1785f8b09f9364427abb03e79d4c28988e835fb22b1e7f620617d50e85db60d9" alt="" />
          <div>
            <p>Black T-Shirt</p>
            <small>Price ₹300.00</small>
            <br />
            <a href="#">Remove</a>
          </div>
        </div>
      </td>
      <td>1</td>
      <td>₹300.00</td>
    </tr>
       <tr>
      <td>
        <div class="cart-info">
          <img src="https://img.freepik.com/free-photo/simple-black-t-shirt-worn-by-man_53876-102772.jpg?w=740&t=st=1709377799~exp=1709378399~hmac=1785f8b09f9364427abb03e79d4c28988e835fb22b1e7f620617d50e85db60d9" alt="" />
          <div>
            <p>Black T-Shirt</p>
            <small>Price ₹300.00</small>
            <br />
            <a href="#">Remove</a>
          </div>
        </div>
      </td>
      <td>1</td>
      <td>₹300.00</td>
    </tr>
       <tr>
      <td>
        <div class="cart-info">
          <img src="https://img.freepik.com/free-photo/simple-black-t-shirt-worn-by-man_53876-102772.jpg?w=740&t=st=1709377799~exp=1709378399~hmac=1785f8b09f9364427abb03e79d4c28988e835fb22b1e7f620617d50e85db60d9" alt="" />
          <div>
            <p>Black T-Shirt</p>
            <small>Price ₹300.00</small>
            <br />
            <a href="#">Remove</a>
          </div>
        </div>
      </td>
      <td>1</td>
      <td>₹300.00</td>
    </tr>
  </table>

  <div class="total-price">
    <table>
      
      <tr>
        <td>Total</td>
        <td>₹3515.00</td>
      </tr>
    </table>
  </div>
</div>
</div>







    </div>
</div>