<link rel='stylesheet' href='/static/css/home.css' />
<link
  rel='shortcut icon'
  href='assets/images/shirt-black.svg'
  type='image/x-icon'
/>
<link
  rel='stylesheet'
  href='https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css'
  integrity='sha512-HXXR0l2yMwHDrDyxJbrMD9eLvPe3z3qL3PPeozNTsiHJEENxx8DH2CxmV05iwG0dwoz5n4gQZQyYLUNt1Wdgfg=='
  crossorigin='anonymous'
  referrerpolicy='no-referrer'
/>
<body>
{{>header}}
  <section class='home'>
    <div class='content'>
      <h1>Get up to 30% Off New Arrivals</h1>
      <p>Upgrade your style today! Check out our new drops including exclusive,
        branded sweatshirts and more made with premium quality materials suited
        for our customers.</p>
      <a class='main-btn' href='/allitems'>SHOP TODAY</a>
    </div>
  </section>

</body>
{{! home , shop , new arrivals , sale , about , contact  }}