<link rel="stylesheet" href="/static/css/login.css">
<div class="login-page">
  <div class="form">
    
    <form class="login-form" action="/users/login" method="POST">
      <input type="text" placeholder="username" name="username"/>
      <input type="password" placeholder="password" name="password"/>
      <button type="submit">login</button>
      <p class="message">Not registered? <a href="/signup">Create an account</a></p>
    </form>
  </div>
</div>