<link rel="stylesheet" href="/static/css/login.css">
    <div class="login-page">
        <form class="form" action="/users/signup" method="POST"> 
                <input type="text" placeholder="Enter your username" name="username"/>
                <input type="password" placeholder="Enter your password" name="password"/>
                <button type="submit">create</button>
                <p class="message">Already registered? <a href="/">Login</a></p>
        </form>
    </div>
