body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    min-height: 100vh;
}
.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}
.content {
    flex: 1;
    padding: 20px;
}
.sidebar h2 {
    margin-bottom: 20px;
}
.menu-item {
    margin-bottom: 10px;
}
.menu-item a {
    color: #fff;
    text-decoration: none;
}
.menu-item a:hover {
    text-decoration: underline;
}
.user-info {
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}
.user-info img {
    border-radius: 50%;
    margin-right: 10px;
}
.logout-btn {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.logout-btn:hover {
    background-color: #ff4c30;
}

form {
    display: flex;
    gap : 8px;
    flex-direction : column;
    width: 100%;
    padding-right: 10px;
}

button {
    background-color: #333;
    padding: 8px 10px;
    color: white;
    cursor: pointer;
    display: block;
    margin-top: 18px;
    font-size: 18px;
}

button:hover {
    opacity: 80%;
}

input {
    width: 98%;
    padding: 5px 8px;
    display: block;
    margin-top: 8px;
    height: 30px;
}

label {
    display : block;
    margin-top: 8px;
}